body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}
nav a {
  padding: 0px 10px;
  background-color: grey;
}
#featured-property {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: baseline;
}
figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: baseline;
}
figcaption {
  font-size: 15px;
  padding: 5px 0px;
}

#featured-property p {
  text-align: center;

  width: 800px;
}

#details > * {
  float: left;
  background-color: red;
  width: 25%;
  text-align: center;
}
